*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
/*config*/
.menu{
    display: flex;
    list-style: none;
    align-items: center;
}
li{
    display: inline-block;
    font-size: 2rem;
    background: #159cb0;
}
li a{
    display: block;
    margin: 0.5rem 1rem;
    padding: 0rem 1.5rem;
    line-height: 5rem;
    text-decoration: none;
    color: black;
}
li :hover {
    color: white;
    background-color: turquoise;
    transition: 0.5s;
    border-radius: 5px;

}

