*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
body{
    font-family: "trebuchet MS", Helvetica, sans-serif  ;
}
fieldset{
    margin: 1em 0px;
    padding: 1em;
    border:1px solid #ccc ;
    background: #f8f8f8;
}
legend{
    font-weight: bold;
}
label{
    display: block;
    cursor: pointer;
}
input.nome, input.email{
    width: 250px;
}
.radio {
    margin-right: 16px;
    width: auto;
}
