* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    font-family: "trebuchet MS", Helvetica, sans-serif;
}
a {
    text-decoration: none ;
    color: white;
}
li {
    display: inline-block;
    list-style: none;
    margin: 10px 0px;
    
}
ul{
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*layout*/
#container {
    width: 720px;
    margin: 0 auto;
    background: #fff;
}
#rodateto {
    height: 100px;
    text-align: center;
    line-height: 100px;
    background-color: #727272;
}
#conteudo {
    width: 520px;
    float: right;
}
#nav {
    width: 180px;
    float: left;
    padding: 20px 0px;
    background-color: #c5af4c;
}
#rodape {
    clear: both;
    padding: 5px;
    background-color: #c4c4c4;
}
#principal {
    float: left;
    width: 320px;
}
#conteudo2 {
    float: right;
    width: 180px;
    background-color: #d1d1d1;

}
#conteudo2  p {
    padding: 20px ;
}
#principal p {
    padding: 20px;
}
h2 {
    text-align: center;
}
